{% extends 'base.html' %}

{% block content %}
    <!-- Content specific to pet list page goes here -->
    <div class="row">
        {% for pet in pets %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        {{ pet.name }}
                    </div>
                    <div class="card-body">
                        <img src="{{ pet.image_url() }}" class="img-fluid" alt="{{ pet.name }}">
                        <p>Species: {{ pet.species }}</p>
                        <p>Age: {{ pet.age }}</p>
                        <p>Available: {{ pet.available }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
